@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Montserrat:ital,wght@0,400;1,300&family=Roboto:ital,wght@1,300&display=swap');
*{
    font-family: 'Castoro Titling', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

.titulo{
    margin-right: 250px;
    margin-left: 400px;
    padding: 50px;
    font-size: 200%;
    
}



body{
    margin: 0;
    background-color:#FEF2F4 ;
}

img{
    max-width: 100%;
}


.Boton-menu{
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(1);
    width: 40px;
}

@media screen and (min-width: 768px) {
    .Boton-menu {
        display: none;
    }
}
.menu-principal__item{
    padding: 1em;
}

.menu-principal{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCC8D1 ;
    
}


@media screen and (min-width: 768px) {
    .menu-principal {
        flex-direction: row;
    }
}
.menu-principal__item{
    padding: 1em;
}

 

.menu-principal__link{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.galeria{
text-align: center;
}

.footer{
    background-color: #FFABAB;
    padding: 15px 0;

}

.parrafo{
text-align: center;

}

@media (min-width: 768px){
    body{
        margin: 0;
        background-color:#FEF2F4 ;
    }
}

